:root{
    --background-color: #FFFFFF;
    --primary-color: #FBC5B0;
    --secondary-color: #CB430F;
    --tertiary-color: rgba(255, 255, 255, 0.4);
    --button-color: #F45012;

    --RC-NO:#8A3AC8;

    --white: #fff;
    --black: #000;
    --black-2: #3a3a3a;
    --gray-color:#d9d9d9;

    --key-1: 1.5rem;
    --key-2: 2rem;
    --key-3: 3rem;
}

*,
*::before,
*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {text-transform: none;}

a{text-decoration: none;}

/* UTILITY */
.container{
    max-width: 1200px;
    padding: 40px 40px;
    margin: 30px auto;
    overflow: hidden;
}
/* TOP NAV BUTTON DECORATION */
#btn{
    display: inline-block;
    background: var(--button-color);
    color: var(--background-color);
    /* padding: .55rem 2rem; */
    padding: 0.55rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.8s linear;
}

#btn:hover{
    background: #f99570;
    color: #fff;
    transition: 0.8s linear;
}



/* NAVBAR STYLING BEGINS HERE*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--primary-color);
    color: var(--black);

    position: sticky;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 100;
}

.navbar .logo img{
    width: 6rem;
}

.navbar .list {
    display: flex;
    align-items: center;
}

.navbar .list li {
    list-style-type: none;
    margin: 0.5rem;
    padding: 1rem 10px;
    position: relative;
}

.navbar .list li a{
    color: #000;
    border-radius: 0rem;
    padding: 8px;
    font-size: larger;
}

.navbar .list li a.active{
    color: #F45012;
    border-bottom: 1.5px solid var(--button-color);
    transition: 0.9s linear;
}

.navbar .list li a:hover{
    color: #CB430F;
    background: #fce4db;
    padding: 8px;
    border-radius: 1rem;
    border-bottom: 1px solid var(--black-2);
}

/* THE NAVBAR DROP DOWN STYLING */
ul li .sub-navbar{
    position: absolute;
    background-color:var(--background-color);
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     border-radius: 4px;
    display: none;
    top: 100%;
    left: 0;
    width: 140%;
}

ul li .sub-navbar .sub-navbar-1{
   padding: 2px 2px; 

}
ul li li{
    width: 100%;
    color: #eee;
    padding: 6px 15px;
    position: relative;
    font-size: 12px;
    font-weight: 200px;
    display: block;
}
ul li li:hover{
    box-shadow: inset 0 0;
}
ul li:hover ul{
    display: block;
}