:root{
    --background-color: #FFFFFF;
    --primary-color: #FBC5B0;
    --secondary-color: #CB430F;
    --tertiary-color: rgba(255, 255, 255, 0.4);
    --button-color: #F45012;

    --RC-NO:#8A3AC8;

    --white: #fff;
    --black: #000;
    --black-2: #3a3a3a;
    --gray-color:#d9d9d9;

    --key-1: 1.5rem;
    --key-2: 2rem;
    --key-3: 3rem;
}

*,
*::before,
*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {text-transform: none;}

a{text-decoration: none;}

/* TOP NAV BUTTON DECORATION */
#btn{
    display: inline-block;
    background: var(--button-color);
    color: var(--background-color);
    /* padding: .55rem 2rem; */
    padding: 0.55rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.8s linear;
}

#btn:hover{
    background: #f99570;
    color: #fff;
    transition: 0.8s linear;
}

/* BUTTONS WITHIN THE BODY (DECORATION)*/
#btns{
    display: inline-block;
    background: var(--button-color);
    color: var(--background-color);
    padding: 0.35rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.8s linear;
}

#btns:hover{
    background: #f99570;
    color: #fff;
    transition: 0.8s linear;
}

/* LINK BUTTON DECORATION */
.btn{
    display: inline-block;
    background: transparent;
    color: var(--background-color);
    padding: .55rem 2rem;
    border: none;
    border-radius: 4px;
    text-decoration: #CB430F underline;
    cursor: pointer;
    transition: 0.8s linear;
}

.btn:hover{
    background: #f99570;
    color: #fff;
    transition: 0.8s linear;
}


/* UTILITY */
.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    height: 140vh;
    width: 100%;
}
/* SECTION STYLING */
  .section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:left;
    margin-bottom: 10rem;
    margin-top: 50px;
  }
  
  .section img {
    max-width: 100%;
    border-radius: 4PX;
  }
  
  .section .content{
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-radius: 4PX;
  }
  .section .content .fas{
    color: var(--button-color);
    padding-right: 0.5rem;
}
  .section .content p{
    padding: 0 20px;
    padding-bottom: 20px;
  }
  .section .content h3 {
    text-align: center;
    padding-top: 30PX;
    padding-bottom: 20px;
    margin-top: 0;
  }
  .section .content .p-btn{
    padding: 0 10px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  
  
  